.d-flex{
    display: flex;
}

.align-centr{
    align-items: center;
}

.list-none{
    list-style: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;


    ul li {
        margin: 0 10px;
    }
}